<ion-header>
  <ion-toolbar>
    <ion-title>Google-cloud vision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>

    <ion-col col-12 text-center>

      <ion-button (click)="captureAndUpload()" expand="full">
        <ion-icon name="camera" slot="start"></ion-icon>
        Activate Cloud Vision
      </ion-button>

    </ion-col>

    <ion-col col-12>
      <img width="100%" height="auto" [src]="image">
    </ion-col>

    <ion-col *ngIf="result$ | async as result">

      <h3>Hotdog?</h3>

      <button *ngIf="result.hotdog" color="secondary" ion-button full>

        Hotdog!!!
      </button>

      <button *ngIf="!result.hotdog" color="danger" ion-button full>

        Not Hotdog :)
      </button>

      <h3>Labels</h3>

      <ion-chip color="secondary" *ngFor="let label of result.labels">

        <ion-label>{{ label }}</ion-label>

      </ion-chip>

    </ion-col>
  </ion-row>
</ion-content>